
div{
    margin-top: 50px;
    margin-left:30px;
    width: 60%;
}
#h {

    padding: 10px;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: cursive;
    text-align: center;
    background-color:rgb(245, 24, 0);

}
img{
    width:100px;
    position: relative;
}